tiktoken
tqdm
omegaconf
boto3
iopath
numpy==1.22
fairscale==0.4
scipy==1.10
triton
ftfy
git+https://github.com/sunrainyg/tools.git@fairseq
git+https://github.com/Dod-o/kosmos2.5_tools.git@infinibatch
git+https://github.com/sunrainyg/tools.git@torchscale
git+https://github.com/sunrainyg/tools.git
sentencepiece
https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.9.post1/flash_attn-2.5.9.post1+cu122torch2.3cxx11abiFALSE-cp38-cp38-linux_x86_64.whl