git+https://github.com/Dod-o/kosmos2.5_tools.git@fairseq
git+https://github.com/Dod-o/kosmos2.5_tools.git@infinibatch
git+https://github.com/Dod-o/kosmos2.5_tools.git@torchscale
git+https://github.com/Dod-o/kosmos2.5_tools.git@transformers
numpy==1.22
scipy==1.10
ftfy
PyMuPDF==1.24.3
